SECRET_KEY=<your-secret-key>
FERNET_SECRET_KEY=<your-fernet-secret-key>  # Run 'python manage.py generate_fernet_key' to generate a new key

DATABASE_NAME=<your-database-name>
DATABASE_USER=<your-database-user>
DATABASE_PASSWORD=<your-database-password>
DATABASE_HOST=<your-database-host>
DATABASE_PORT=<your-database-port>
DJANGO_DB_TYPE=postgres

CLINIC_DEFAULT_OPENINING_HOUR=<your-clinic-default-opening-hour>    # e.g., 9:00 AM
CLINIC_DEFAULT_CLOSING_HOUR=<your-clinic-default-closing-hour>      # e.g., 8:00 PM