Django==5.1.4
python-dotenv==1.0.1
djangorestframework==3.15.2
phonenumbers==8.13.52
django-phonenumber-field==8.0.0
djangorestframework-camel-case==1.4.2
drf-yasg==1.21.8
psycopg2-binary==2.9.10
django-filter==24.3
django-cors-headers==4.7.0
pillow==11.1.0
cryptography==44.0.2
