{% extends "setting/settings_base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="row">
  <div class="col-sm-4 col-3">
    <h4 class="page-title">Opening Hours</h4>
  </div>
  {% if request.session.clinic_user_role|is_permission_granted:'doctor, staff' or request.session.is_clinic_admin %}
  {% if is_day_available %}
  <div class="col-sm-8 col-9 text-right m-b-20">
    <a href="{% url 'template_clinic:opening_hour_create' %}" class="btn btn btn-primary btn-rounded float-right">
      <i class="fa fa-plus"></i>
      Add Opening Hour
    </a>
  </div>
  {% endif %}
  {% endif %}
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-border table-striped custom-table datatable mb-0">
        <thead>
          <tr>
            <th>Clinic Name</th>
            <th>Days</th>
            <th>Opening Hour</th>
            <th>Closing Hour</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for time_key, schedule_details in opening_hours_schedules.items %}
          <tr>
            <td
              {% if request.session.clinic_user_role|is_permission_granted:'doctor, staff' or request.session.is_clinic_admin %}
                onclick="window.location.href='{% url 'template_clinic:opening_hour_update' request.session.clinic_id %}?{{ schedule_details.href_query_params }}'"
              {% endif %}
            >
              {{ request.session.clinic_name }}
            </td>
            <td
              {% if request.session.clinic_user_role|is_permission_granted:'doctor, staff' or request.session.is_clinic_admin %}
                onclick="window.location.href='{% url 'template_clinic:opening_hour_update' request.session.clinic_id %}?{{ schedule_details.href_query_params }}'"
              {% endif %}
            >
              {{ schedule_details.days|join:', ' }}</td>
            <td
              {% if request.session.clinic_user_role|is_permission_granted:'doctor, staff' or request.session.is_clinic_admin %}
                onclick="window.location.href='{% url 'template_clinic:opening_hour_update' request.session.clinic_id %}?{{ schedule_details.href_query_params }}'"
              {% endif %}
            >
              {{ schedule_details.start_time }}</td>
            <td
              {% if request.session.clinic_user_role|is_permission_granted:'doctor, staff' or request.session.is_clinic_admin %}
                onclick="window.location.href='{% url 'template_clinic:opening_hour_update' request.session.clinic_id %}?{{ schedule_details.href_query_params }}'"
              {% endif %}
            >
              {{ schedule_details.end_time }}</td>
            <td class="text-right">
              {% if request.session.clinic_user_role|is_permission_granted:'doctor, staff' or request.session.is_clinic_admin %}
              <div class="dropdown dropdown-action">
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'template_clinic:opening_hour_update' request.session.clinic_id %}?{{ schedule_details.href_query_params }}">
                    <i class="fa fa-pencil m-r-5"></i>
                    Edit
                  </a>
                  <a class="dropdown-item" href="{% url 'template_clinic:opening_hour_delete' request.session.clinic_id %}?{{ schedule_details.href_query_params }}"
                    onclick="return confirm('Are you sure you want to delete this schedule?');">
                      <i class="fa fa-trash-o m-r-5"></i>
                      Delete
                  </a>
                </div>
              </div>
              {% else %}
              <span class="text-muted">No actions available</span>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center">No opening hours found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
