{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Appointments</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a href="{% url 'template_appointment:appointment_create' %}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Appointment</a>
    </div>
</div>
<!-- Filters -->
<div class="row filter-row">
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus">
            <label class="focus-label">Search</label>
            <input type="text" id="search" class="form-control floating" value="{{search_query|default:''}}" placeholder="Name, Phone, Token...">
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"></div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus">
            <label class="focus-label">From</label>
            <div class="cal-icon">
                <input type="text" id="start_date" class="form-control floating datetimepicker">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="form-group form-focus">
            <label class="focus-label">To</label>
            <div class="cal-icon">
                <input type="text" id="end_date" class="form-control floating datetimepicker">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <button type="button" id="filter_date" class="btn btn-success btn-block" onclick="validateAndFilter()">Search</button>
        <script>
            // Function to reinitialize floating labels
            function reinitializeFloatingLabels() {
                document.querySelectorAll('.form-control.floating').forEach((input) => {
                    const formGroup = input.closest('.form-group');
                    if (input.value) {
                        formGroup.classList.add('focused');
                    } else {
                        formGroup.classList.remove('focused');
                    }

                    input.addEventListener('focus', () => {
                        formGroup.classList.add('focused');
                    });

                    input.addEventListener('blur', () => {
                        if (!input.value) {
                            formGroup.classList.remove('focused');
                        }
                    });
                });
            }

            function validateAndFilter() {
              const startDate = document.getElementById('start_date').value;
              const endDate = document.getElementById('end_date').value;
              const search = document.getElementById('search').value;

              if (!startDate || !endDate) {
                alert('Please select both start and end dates');
                return;
              }

              if (startDate > endDate) {
                alert('Start date must be less than end date');
                return;
              }

              const baseUrl = "{% url 'template_appointment:appointment_list' %}";
              window.location.href = `${baseUrl}?start_date=${startDate}&end_date=${endDate}&search=${search}`;
            }

            // Prefill the input fields with values from the URL query parameters
            function prefillDates() {
              const urlParams = new URLSearchParams(window.location.search);
              let startDate = urlParams.get('start_date');
              let endDate = urlParams.get('end_date');

              // Set default values if query parameters are not present
              const today = new Date().toLocaleDateString('en-GB'); // Get today's date in DD/MM/YYYY format
              if (!startDate) {
                startDate = today; // Default to today's date
              }
              if (!endDate) {
                endDate = today; // Default to today's date
              }

              document.getElementById('start_date').value = startDate;
              document.getElementById('end_date').value = endDate;

              // Reinitialize floating labels
              reinitializeFloatingLabels();
            }
          
            // Call prefillDates on page load
            window.onload = prefillDates;
        </script>
    </div>
</div>
<!-- Table content -->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table datatable">
                <thead>
                    <tr>
                        <th>Token No</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Patient Name</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>#{{ appointment.token_number|default:'-' }}</td>
                            <td>{{ appointment.date_str|default:'-' }}</td>
                            <td>{{ appointment.time_str|default:'-' }}</td>
                            <td>
                                <a href="{% url 'template_appointment:appointment_update' appointment.id %}">
                                    {{ appointment.clinic_patient.patient.name|default:'' }}
                                </a>
                            </td>
                            <td>{{ appointment.clinic_patient.patient.phone_number|default:'-' }}</td>
                            <td>{{ appointment.clinic_patient.patient.age|default:'-' }}</td>
                            <td>{% if appointment.amount_to_pay %}₹{{ appointment.amount_to_pay|floatformat:2 }}{% else %}-{% endif %}</td>
                            <td>
                                {% if appointment.appointment_status == 'completed' %}
                                    <span class="custom-badge status-green">{{ appointment.get_appointment_status_display }}</span>
                                {% elif appointment.appointment_status == 'in_progress' %}
                                    <span class="custom-badge status-blue">{{ appointment.get_appointment_status_display }}</span>
                                {% elif appointment.appointment_status == 'cancelled' %}
                                    <span class="custom-badge status-red">{{ appointment.get_appointment_status_display }}</span>
                                {% else %}
                                    <span class="custom-badge status-orange">{{ appointment.get_appointment_status_display }}</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{% url 'template_appointment:appointment_update' appointment.id %}">
                                            <i class="fa fa-pencil m-r-5"></i>
                                            Edit
                                        </a>
                                        <form method="POST" action="{% url 'template_appointment:appointment_delete' appointment.id %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this appointment?');">
                                                <i class="fa fa-trash-o m-r-5"></i>
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="delete_appointment" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="{% static 'assets/img/sent.png' %}" alt="" width="50" height="46">
                <h3>Are you sure want to delete this Appointment?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <button type="button" class="btn btn-danger delete-appointment-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).on('click', '.delete-appointment-link', function () {
        // Get the delete URL from the clicked link
        const deleteUrl = $(this).data('url');

        // Update the delete button's onclick attribute with the delete URL
        $('.delete-appointment-btn').attr('onclick', `window.location.href='${deleteUrl}'`);
    });
    $(function () {
        $('.datetimepicker').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
</script>
{% endblock %}