{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}
{% endblock %}

{% block content %}

<form method="POST" action="{% url 'template_clinic:employees_update' employee.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">Edit Employees</h4>
        </div>
        <div class="col-sm-5 col-6 text-right m-b-30">
            <button id="save-employee" class="btn btn-primary submit-btn" type="submit">Save</button>
        </div>
    </div>
    <div class="card-box">
        <h3 class="card-title">Basic Informations</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="profile-img-wrap">
                    <img class="inline-block" src="{{ employee.user.avatar.url }}" alt="user">
                    <div class="fileupload btn">
                        <span class="btn-text">edit</span>
                        <input class="upload" type="file" id="avatar" name="avatar">
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Name</label>
                                <input type="text" class="form-control floating" name="name" value="{{ employee.user.name }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Specialization</label>
                                <input type="text" class="form-control floating" name="specialization" value="{{ employee.specialization|default:'' }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Birth Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" name="date_of_birth" value="{{ employee.user.date_of_birth|format_date }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Gender</label>
                                <select class="select form-control floating" name="gender">
                                    <option value="" {% if not doctor.user.gender %}selected{% endif %}>Select</option>
                                    {% for gender_data in gender %}
                                    <option value="{{gender_data.0}}" {% if employee.user.gender == gender_data.0 %}selected{% endif %}>{{gender_data.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Phone</label>
                                <input type="text" class="form-control floating" name="phone" value="{{ employee.user.phone }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="focus-label">Email</label>
                                <input type="text" class="form-control floating" name="email" value="{% if employee.user.email is not none %} {{ employee.user.email }} {% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-box">
        <h3 class="card-title">Contact Informations</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-focus">
                    <label class="focus-label">Address Line 1</label>
                    <input type="text" class="form-control floating" name="address_line1" value="{{ employee.user.address|get_address_info:'line1'}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-focus">
                    <label class="focus-label">City</label>
                    <input type="text" class="form-control floating" name="address_city" value="{{ employee.user.address|get_address_info:'city'}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-focus">
                    <label class="focus-label">State</label>
                    <input type="text" class="form-control floating" name="address_state" value="{{ employee.user.address|get_address_info:'state'}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-focus">
                    <label class="focus-label">Country</label>
                    <input type="text" class="form-control floating" name="address_country" value="{{ employee.user.address|get_address_info:'country'}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-focus">
                    <label class="focus-label">Postal Code</label>
                    <input type="text" class="form-control floating" name="address_postal_code" value="{{ employee.user.address|get_address_info:'postal_code'}}">
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block script %}
<script>
    // Function to focus the button and add an event listener for the Enter key
    window.onload = function() {
        const button = document.getElementById('save-employee');
        button.focus(); // Focus the button
        // Add an event listener for the Enter key
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                button.click(); // Trigger the button click
            }
        });
    };
</script>
{% endblock %}